{
  "extends": "airbnb/base",
  "rules": {
    "brace-style": [2, "stroustrup", { "allowSingleLine": true }],
    "no-param-reassign": 1,
    "no-shadow": 1,
    "default-case": 1,
    "new-cap": 0,
    "func-names": 0,
    "no-else-return": 0,
    "padded-blocks": 0
  }
}
